.user-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    margin-left: 5px;
}

.user-name{
    font-size: 1.2rem;
    font-weight: bold;
    color: #326f95;
}

.user-age{
    font-size: 14px;
    
}